.home {
    text-align: center;
}

.home__tree {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}

.home__tree-container {
    background-color: transparent;
    padding: 64px;
}