h1 {
  margin: 0;
}

.app {
  height: 100%;
  display: grid;
  grid-template-rows: 4rem auto 3.5rem;
  grid-template-areas:
    "nav"
    "main"
    "footer";
}

.app__nav {
  grid-area: nav;
  border-bottom: 1px solid #61D9FB;
  display: flex;
  align-items: center;
}

.app__main {
  grid-area: main;
  padding: 24px;
}

.app__footer {
  grid-area: footer;
  background-color: #61D9FB;
}