.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5em;
}

.cart__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    justify-items: center;
}

.cart__payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
}