.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
}

.cart__items {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.cart__payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
}